.navigation-links1-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links1-navlink {
  text-decoration: none;
}
.navigation-links1-text {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links1-text1 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links1-text2 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links1-text3 {
  margin-left: var(--dl-space-space-twounits);
}
















.navigation-links1-root-class-name10 {
  flex: 1;
  height: var(--dl-size-size-small);
}
.navigation-links1-root-class-name18 {
  flex: 1;
  height: var(--dl-size-size-small);
}

.navigation-links1-root-class-name20 {
  flex: 1;
  height: var(--dl-size-size-small);
}

.navigation-links1-root-class-name22 {
  flex: 1;
  height: var(--dl-size-size-small);
}

.navigation-links1-root-class-name24 {
  flex: 1;
  height: var(--dl-size-size-small);
}

@media(max-width: 767px) {
  .navigation-links1-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links1-navlink {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links1-text {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links1-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links1-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links1-text3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.feature-card-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  position: relative;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-white);
}
.feature-card-icon {
  fill: var(--dl-color-primary1-blue80);
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.feature-card-container {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.feature-card-text {
  font-family: "Raleway";
  font-weight: 600;
  line-height: 28px;
}
.feature-card-text1 {
  color: var(--dl-color-gray-800);
  line-height: 1.6;
}
@media(max-width: 767px) {
  .feature-card-feature-card {
    flex-direction: row;
  }
  .feature-card-container {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .feature-card-container {
    flex-direction: column;
  }
}

.industries-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.industries-header {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  background-color: var(--dl-color-primary1-blue80);
}
.industries-header1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #dad7d7;
}
.industries-image {
  height: 2rem;
}
.industries-nav {
  display: flex;
}
.industries-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.industries-register {
  transition: 0.3s;
}

.industries-burger-menu {
  display: none;
}
.industries-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.industries-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.industries-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.industries-container01 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.industries-image1 {
  height: 2rem;
}
.industries-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.industries-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.industries-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.industries-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.industries-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.industries-details {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.industries-details1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: space-between;
}
.industries-container02 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.industries-text03 {
  color: var(--dl-color-primary1-blue80);
  display: none;
  text-align: left;
  font-family: "Raleway";
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.industries-details-heading {
  width: 80%;
  text-align: left;
  font-family: "Raleway";
  line-height: 1.6;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.industries-details-sub-heading {
  color: #080808;
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-weight: 800;
  line-height: 1.6;
  margin-bottom: var(--dl-space-space-twounits);
}
.industries-details-image {
  width: 400px;
  height: 400px;
  object-fit: cover;
  margin-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-round);
}
.industries-features {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  flex-direction: column;
}
.industries-text23 {
  font-size: 3rem;
  margin-bottom: var(--dl-space-space-twounits);
}
.industries-separator {
  width: 100px;
  height: 2px;
  background-color: var(--dl-color-gray-500);
}
.industries-container03 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.industries-container04 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.industries-image2 {
  width: 450px;
  height: 450px;
  object-fit: cover;
  flex-shrink: 0;
  margin-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-round);
  object-position: left;
}
.industries-banner {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.industries-banner1 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: var(--dl-size-size-maxwidth);
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: flex-start;
}
.industries-banner-heading {
  color: var(--dl-color-gray-white);
  text-align: center;
  font-family: "Raleway";
  line-height: 1.6;
}
.industries-banner-sub-heading {
  color: var(--dl-color-gray-white);
  max-width: var(--dl-size-size-maxwidth);
  text-align: center;
  line-height: 1.6;
}
.industries-banner-button {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  font-weight: 700;
  padding-top: 1.5rem;
  border-width: 0px;
  padding-left: 3rem;
  border-radius: 45px;
  padding-right: 3rem;
  padding-bottom: 1.5rem;
  background-color: var(--dl-color-primary1-blue100);
}
.industries-banner-button:hover {
  border-color: rgba(41, 20, 119, 0.9);
  background-color: rgba(41, 20, 119, 0.9);
}
.industries-footer {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.industries-footer1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #D9D9D9;
}
.industries-container05 {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
}
.industries-image3 {
  height: 2rem;
}
.industries-text27 {
  margin-top: var(--dl-space-space-oneandhalfunits);
}
.industries-text31 {
  text-align: left;
}
.industries-icon-group1 {
  display: flex;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.industries-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.industries-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.industries-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.industries-links-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.industries-container06 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.industries-container07 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: flex-start;
}
.industries-text33 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.industries-text34 {
  margin-bottom: var(--dl-space-space-unit);
}
.industries-text35 {
  margin-bottom: var(--dl-space-space-unit);
}
.industries-text36 {
  margin-bottom: var(--dl-space-space-unit);
}
.industries-container08 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: flex-start;
}
.industries-text38 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.industries-text39 {
  margin-bottom: var(--dl-space-space-unit);
}
.industries-text40 {
  margin-bottom: var(--dl-space-space-unit);
}
.industries-text41 {
  margin-bottom: var(--dl-space-space-unit);
}
.industries-container09 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.industries-container10 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: flex-start;
}
.industries-text43 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.industries-text44 {
  margin-bottom: var(--dl-space-space-unit);
}
.industries-text45 {
  margin-bottom: var(--dl-space-space-unit);
}
.industries-text46 {
  margin-bottom: var(--dl-space-space-unit);
}
.industries-container11 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.industries-text48 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.industries-text49 {
  margin-bottom: var(--dl-space-space-unit);
}
.industries-text50 {
  margin-bottom: var(--dl-space-space-unit);
}
.industries-text51 {
  margin-bottom: var(--dl-space-space-unit);
}
@media(max-width: 991px) {
  .industries-details-sub-heading {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .industries-features {
    align-items: center;
  }
  .industries-container03 {
    flex-direction: column;
  }
  .industries-image2 {
    width: 300px;
    height: 300px;
    margin-top: var(--dl-space-space-twounits);
    margin-left: 0px;
  }
  .industries-banner-sub-heading {
    max-width: 100%;
  }
  .industries-footer1 {
    flex-direction: column;
  }
  .industries-container05 {
    align-items: center;
  }
  .industries-links-container {
    width: auto;
    margin-top: var(--dl-space-space-twounits);
    flex-direction: row;
  }
  .industries-container06 {
    margin-right: 0px;
  }
}
@media(max-width: 767px) {
  .industries-header1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .industries-nav {
    display: none;
  }
  .industries-btn-group {
    display: none;
  }
  .industries-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .industries-details1 {
    align-items: center;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    flex-direction: column;
    justify-content: center;
  }
  .industries-container02 {
    align-items: center;
    justify-content: flex-start;
  }
  .industries-text03 {
    text-align: center;
  }
  .industries-details-heading {
    text-align: center;
  }
  .industries-details-sub-heading {
    text-align: center;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .industries-details-image {
    margin-top: var(--dl-space-space-threeunits);
    margin-left: 0px;
  }
  .industries-features {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .industries-text23 {
    text-align: center;
  }
  .industries-container03 {
    flex-direction: column;
  }
  .industries-banner1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .industries-banner-sub-heading {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .industries-footer1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .industries-image3 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .industries-links-container {
    width: auto;
    margin-top: var(--dl-space-space-twounits);
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .industries-container06 {
    width: 100%;
    justify-content: space-between;
  }
  .industries-container08 {
    margin-right: 0px;
  }
  .industries-container09 {
    margin-top: var(--dl-space-space-twounits);
  }
  .industries-container10 {
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .industries-header1 {
    padding: var(--dl-space-space-unit);
  }
  .industries-mobile-menu {
    padding: 16px;
  }
  .industries-features {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .industries-container04 {
    grid-template-columns: 1fr;
  }
  .industries-image2 {
    width: 250px;
    height: 250px;
  }
  .industries-banner1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .industries-footer1 {
    padding: var(--dl-space-space-unit);
  }
  .industries-image3 {
    margin-bottom: 0px;
  }
  .industries-links-container {
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
  }
  .industries-container06 {
    align-items: center;
    margin-right: 0px;
    justify-content: space-between;
  }
  .industries-container07 {
    margin-right: var(--dl-space-space-unit);
  }
  .industries-container08 {
    align-self: stretch;
  }
}
